# Docker Upstart and SysVinit configuration file

#docker config for Host OS: Ubuntu 14.04 at /etc/default/docker
#Docker version 1.6.0, build 4749651

# Customize location of Docker binary (especially for development testing).
#DOCKER="/usr/local/bin/docker"

## EDIT ##: Change default storage PATH for docker to a larger drive. Keep PATH unique for each VM if you plan to use more than one VM under a parent head node, e.g., /data/docker1 for VM1, /data/docker2 for VM2, etc.
## EDIT ##: You may need to replace default Google DNS with your institute supplied DNS if you get download error in docker container. See https://gist.github.com/dyndna/12b2317b5fbade37e747
# Use DOCKER_OPTS to modify the daemon startup options.
#DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4 -g /data/docker1"

# If you need Docker to use an HTTP proxy, it can also be specified here.
#export http_proxy="http://127.0.0.1:3128/"

# This is also a handy place to tweak where Docker's temporary files go.
export TMPDIR="/scratch/docker/docker-tmp"

#END
