# /etc/sysconfig/docker

#docker config for Host OS: CentOS 7 at /etc/sysconfig/docker
#Docker version 1.6.0, build 8aae715/1.6.0

# Modify these options if you want to change the way the docker daemon runs
## EDIT ##: Change default storage PATH for docker to a larger drive. Keep PATH unique for each VM if you plan to use more than one VM under a parent head node, e.g., /data/docker1 for VM1, /data/docker2 for VM2, etc.
OPTIONS='--selinux-enabled -g /data/docker1'
DOCKER_CERT_PATH=/etc/docker

# Enable insecure registry communication by appending the registry URL
# to the INSECURE_REGISTRY variable below and uncommenting it
# INSECURE_REGISTRY='--insecure-registry '

# On SELinux System, if you remove the --selinux-enabled option, you
# also need to turn on the docker_transition_unconfined boolean.
# setsebool -P docker_transition_unconfined

# Location used for temporary files, such as those created by
# docker load and build operations. Default is /var/lib/docker/tmp
# Can be overriden by setting the following environment variable.

## EDIT ##: Comment out default TMPDIR and point to new directory inside default storage PATH as set above. You will need to create new directory under docker storage PATH, e.g. mkdir -p /data/docker1/dtmp
#DOCKER_TMPDIR=/var/tmp
DOCKER_TMPDIR=/data/docker1/dtmp

# Controls the /etc/cron.daily/docker-logrotate cron job status.
# To disable, uncomment the line below.
# LOGROTATE=false
